# Dataset Cleaning & Exploration   

_Erin Cameron   
2024-04-09_

## 1.0) Set up

In [107]:
# Installations

In [141]:
# Perform import statements
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## 2) Load & Format Data

In [142]:
print("Loading...")
data = pd.read_csv("../data/FedCycleData071012.csv")
print("Load complete!")

Loading...
Load complete!

In [143]:
# Display the dataset size
print("Dataset size: " + str(data.shape))

Dataset size: (1665, 80)

In [144]:
print(data.columns.tolist()) # Display the columns

['ClientID', 'CycleNumber', 'Group', 'CycleWithPeakorNot', 'ReproductiveCategory', 'LengthofCycle', 'MeanCycleLength', 'EstimatedDayofOvulation', 'LengthofLutealPhase', 'FirstDayofHigh', 'TotalNumberofHighDays', 'TotalHighPostPeak', 'TotalNumberofPeakDays', 'TotalDaysofFertility', 'TotalFertilityFormula', 'LengthofMenses', 'MeanMensesLength', 'MensesScoreDayOne', 'MensesScoreDayTwo', 'MensesScoreDayThree', 'MensesScoreDayFour', 'MensesScoreDayFive', 'MensesScoreDaySix', 'MensesScoreDaySeven', 'MensesScoreDayEight', 'MensesScoreDayNine', 'MensesScoreDayTen', 'MensesScoreDay11', 'MensesScoreDay12', 'MensesScoreDay13', 'MensesScoreDay14', 'MensesScoreDay15', 'TotalMensesScore', 'MeanBleedingIntensity', 'NumberofDaysofIntercourse', 'IntercourseInFertileWindow', 'UnusualBleeding', 'PhasesBleeding', 'IntercourseDuringUnusBleed', 'Age', 'AgeM', 'Maristatus', 'MaristatusM', 'Yearsmarried', 'Wedding', 'Religion', 'ReligionM', 'Ethnicity', 'EthnicityM', 'Schoolyears', 'SchoolyearsM', 'OccupationM', 'IncomeM', 'Height', 'Weight', 'Reprocate', 'Numberpreg', 'Livingkids', 'Miscarriages', 'Abortions', 'Medvits', 'Medvitexplain', 'Gynosurgeries', 'LivingkidsM', 'Boys', 'Girls', 'MedvitsM', 'MedvitexplainM', 'Urosurgeries', 'Breastfeeding', 'Method', 'Prevmethod', 'Methoddate', 'Whychart', 'Nextpreg', 'NextpregM', 'Spousesame', 'SpousesameM', 'Timeattemptpreg', 'BMI']

In [145]:
print(data.head()) # Display the head of the data

  ClientID  CycleNumber  Group  CycleWithPeakorNot  ReproductiveCategory  \
0  nfp8122            1      0                   1                     0
1  nfp8122            2      0                   1                     0
2  nfp8122            3      0                   1                     0
3  nfp8122            4      0                   1                     0
4  nfp8122            5      0                   1                     0

   LengthofCycle MeanCycleLength EstimatedDayofOvulation LengthofLutealPhase  \
0             29           27.33                      17                  12
1             27                                      15                  12
2             29                                      15                  14
3             27                                      15                  12
4             28                                      16                  12

  FirstDayofHigh  ... Method Prevmethod Methoddate Whychart Nextpreg  \
0             12  ...      9                              2        7
1             13  ...
2                 ...
3             13  ...
4             12  ...

  NextpregM Spousesame SpousesameM Timeattemptpreg              BMI
0         7          1           1               0  21.254724111867
1
2
3
4

[5 rows x 80 columns]

## 3.0) Data Exploration

_I am interested in using menstrual cycle data to predict if a woman suffers from miscarriages or not. Here, I will explore the nature of the binary class I am trying to predict (column "Miscarriages" in the data frame) and how this class relates to other data categories._

### 3.1) Exploring the `LengthofMenses` variable

_In my dataset of 1665 data points the LengthofMenses was:_
* _21/1665 (~1.26%) were 2 days._
* _63/1665 (~3.78%) were 3 days._
* _346/1665 (~20.78%) were 4 days._
* _629/1665 (~37.78%) were 5 days._
* _380/1665 (~22.82%) were 6 days._
* _155/1665 (~9.31%) were 7 days._
* _41/1665 (~2.46%) were 8 days._
* _20/1665 (~1.20%) were 9 days._
* _4/1665 (~0.24%) were 10 days._
* _1/1665 (~0.06%) were 11 days._
* _1/1665 (~0.06%) were 15 days._

_Using the isna() function and further methods, it is determined there are 4 missing values in the column that were removed from the study._

In [146]:
# Display the unique values in this column and counts for each answer
print("=====> LengthofMenses")
display(data["LengthofMenses"].value_counts().sort_index())

=====> LengthofMenses

        4
10      4
11      1
15      1
2      21
3      63
4     346
5     629
6     380
7     155
8      41
9      20
Name: LengthofMenses, dtype: int64

In [147]:
# Display isna() values
print("=====>  Are there any NaN values in the \"LengthofMenses\" column of the dataset that need to be removed?")
display(data["LengthofMenses"].isna().value_counts())

# Display spacebar values
print("\n\n=====>  Are there any missing values in the \"LengthofMenses\" column of the dataset that need to be removed?")
filtered_data = data.loc[data["LengthofMenses"].str.contains(" ")]
print("ClientID:\n", filtered_data["LengthofMenses"])

=====>  Are there any NaN values in the "LengthofMenses" column of the dataset that need to be removed?

False    1665
Name: LengthofMenses, dtype: int64

=====>  Are there any missing values in the "LengthofMenses" column of the dataset that need to be removed?
ClientID:
 1107
1298
1340
1664
Name: LengthofMenses, dtype: object

In [148]:
# Now that we have identified the missing values, we need to drop those row values
data = data.drop(data[data["LengthofMenses"] == " "].index)

# Display spacebar values again, to ensure they have been removed
filtered_data = data.loc[data["LengthofMenses"].str.contains(" ")]
print("ClientID:\n", filtered_data["LengthofMenses"])

ClientID:
 Series([], Name: LengthofMenses, dtype: object)

In [149]:
# Review the dataset size again, it should be 4 less
print("Dataset size: " + str(data.shape))

Dataset size: (1661, 80)

### 3.2) Exploring the `Miscarriages` variable

_Using the isna() function and further methods, it is determined there are 1522 missing values in the column that were removed from the study._

In [150]:
# Display the unique values in this column and counts for each answer
print("=====> Miscarriages")
display(data["Miscarriages"].value_counts().sort_index())

=====> Miscarriages

     1522
0     107
1      23
2       6
3       1
4       2
Name: Miscarriages, dtype: int64

In [151]:
# Display isna() values
print("=====>  Are there any NaN values in the \"Miscarriages\" column of the dataset that need to be removed?")
display(data["Miscarriages"].isna().value_counts())

# Display spacebar values
print("\n\n=====>  Are there any missing values in the \"Miscarriages\" column of the dataset that need to be removed?")
filtered_data = data.loc[data["Miscarriages"].str.contains(" ")]
print(filtered_data["Miscarriages"].value_counts())

=====>  Are there any NaN values in the "Miscarriages" column of the dataset that need to be removed?

False    1661
Name: Miscarriages, dtype: int64

=====>  Are there any missing values in the "Miscarriages" column of the dataset that need to be removed?
     1522
Name: Miscarriages, dtype: int64

In [152]:
# Now that we have identified the missing values, we need to drop those row values
data = data.drop(data[data["Miscarriages"] == " "].index)

# Display spacebar values again, to ensure they have been removed
filtered_data = data.loc[data["Miscarriages"].str.contains(" ")]
print("ClientID:\n", filtered_data["Miscarriages"])

ClientID:
 Series([], Name: Miscarriages, dtype: object)

In [153]:
# We are left with 139 rows of data containing data on Miscarriages and LengthofMenses
# Display the number of miscarriages for each LengthofMenses value_count()

result = data.groupby("LengthofMenses")["Miscarriages"].value_counts().unstack(fill_value=0)

# Reformat the DataFrame to display the desired output format
output = result.rename_axis(columns="Miscarriages").reset_index()
output.columns.name = None  # Remove the column name for better display

# Sort output by 'LengthofMenses'
output = output.sort_values(by="LengthofMenses")

print(output)

  LengthofMenses   0   1  2  3  4
0             15   1   0  0  0  0
1              2   1   0  0  0  0
2              3   1   0  1  0  0
3              4  20   4  1  1  0
4              5  36  10  2  0  2
5              6  29   6  2  0  0
6              7  11   1  0  0  0
7              8   6   2  0  0  0
8              9   2   0  0  0  0

### 3.3) Exploring the `BMI` variable

_Using the isna() function and further methods, it is determined there are XXX missing values in the column that were removed from the study._

In [154]:
# Display the unique values in this column and counts for each answer
print("=====> BMI")
display(data["BMI"].value_counts().sort_index())

=====> BMI

                    11
16.8266565885614     1
18.0095789708176     1
18.7750062988158     1
18.7926041434618     1
18.8520761245675     1
18.8822314049587     1
19.1955471539593     1
19.366391184573      1
19.4602076124567     1
19.6484815909702     1
19.737548828125      2
19.9338374291115     1
19.9668639053254     1
20.0263370061811     1
20.1170655567118     1
20.1733241505969     1
20.3768115942029     1
20.4660355029586     1
20.4828303850156     1
20.4960973370064     1
20.524437716263      2
20.5462333081381     1
20.595703125         2
20.671864557808      2
20.8030612244898     1
20.93896484375       1
20.9465306122449     1
21.0314776274714     1
21.1416796613945     1
21.254724111867      2
21.2822265625        1
21.453857421875      1
21.4548897304522     1
21.6089695137314     1
21.6307692307692     1
21.9247048340388     1
21.945889698231      1
21.9485766758494     1
22.1099632690542     1
22.1487082545684     1
22.1967993079585     1
22.2616666666667     1
22.31201171875       2
22.4627218934911     2
22.524693877551      1
22.6291124260355     1
22.8603017689906     1
22.8869985297206     1
23.0259511211892     1
23.170166015625      2
23.4907551793272     1
23.5650951557093     1
24.1028571428571     1
24.1266272189349     1
24.1385030864198     1
24.3252595155709     1
24.3635790800252     2
24.4363688595231     1
24.6891259105099     1
24.7971781305115     2
24.9585798816568     1
25.1018693551775     1
25.102162269391      1
25.2913609467456     2
25.6827916351726     1
25.74462890625       1
25.7864203954214     1
25.7905325443787     1
25.821854912764      2
25.8244897959184     1
25.83983069726       1
25.8455882352941     2
26.2539500143637     1
26.5179500520291     1
26.6224852071006     1
26.6228558699042     1
26.6287878787879     1
26.788875739645      1
27.4058810425485     1
27.4540186444948     1
27.8912914104344     2
27.9765306122449     2
28.1260813148789     2
28.339632149156      1
28.8882001836547     1
29.0495867768595     2
29.17724609375       3
29.2851414568946     1
29.8565197428834     1
29.9502958579882     2
30.1108591584782     1
30.2680555555556     1
30.6634527089073     1
31.4776119402985     1
33.4695496925213     1
34.326171875         1
34.5647762747138     1
34.7476586888658     1
34.7756213017751     1
35.424540186445      1
35.4791883454735     1
36.72900390625       1
37.1027777777778     1
37.7587890625        1
38.3910943079185     1
38.9669942050894     1
43.2516069788797     1
49.9171597633136     1
Name: BMI, dtype: int64

In [155]:
print(data.shape)

(139, 80)

In [156]:
# Display isna() values
print("=====>  Are there any NaN values in the \"BMI\" column of the dataset that need to be removed?")
display(data["BMI"].isna().value_counts())

# Display spacebar values
print("\n\n=====>  Are there any missing values in the \"BMI\" column of the dataset that need to be removed?")
filtered_data = data.loc[data["BMI"].str.contains(" ")]
print("ClientID:\n", filtered_data["BMI"].value_counts())

=====>  Are there any NaN values in the "BMI" column of the dataset that need to be removed?

False    139
Name: BMI, dtype: int64

=====>  Are there any missing values in the "BMI" column of the dataset that need to be removed?
ClientID:
      11
Name: BMI, dtype: int64